<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-10 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Contracts</h1>
    </div>

    <div class="row my-4">
        <div class="col-lg-12 col-12">
            <div class="custom-block bg-white">
                <h5 class="mb-4">Client contracts history</h5>

                <div class="table-responsive">
                    <table class="account-table table">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>

                                <th scope="col">Date</th>

                                <th scope="col">Start Date</th>

                                <th scope="col">End Date</th>

                                <th scope="col">Currency</th>

                                <th scope="col">payment</th>

                                <th scope="col">Status</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>

                        <tbody  *ngFor="let Contract of Contracts">
                            <tr>
                        
                                <td scope="row" >{{Contract.typeContrat}}</td>

                                <td scope="row">{{Contract.contractDate }}</td>

                                <td scope="row">{{Contract.startDate }}</td>

                                <td scope="row">{{Contract.endDate }}</td>

                                <td  scope="row">
                                   
                                    {{Contract.currency}}
                                  
                                </td>

                                <td scope="row">{{Contract.payment_terms}}</td>

                                <td scope="row">
                                    <span class="badge text-bg-danger">
                                        {{Contract.contract_status}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-success text-success" (click)="navtoeditcontrat(Contract.idContract)" style="height: 30px; text-align:center; font-size: 14px;">edit</button>

                                 </td>
                                 <td> <button type="button" class="btn btn-outline-danger" (click)="removecontrat(Contract.idContract)" style="height: 30px; text-align:center; font-size: 14px;">Delete</button></td>
                                 <td> <button type="button" class="btn btn-outline-danger" (click)="navtofacture(id,Contract.idContract )" style="height: 30px; text-align:center; font-size: 14px;">Factures</button></td>
                            </tr>
                            
                           

                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>

       


    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-12">
                    <p class="copyright-text">Copyright © Mini Finance 2048 
                    - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
                </div>

            </div>
        </div>
    </footer>
</main>