
<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-10 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Client List</h1>
    </div>

    <div class="row my-4">
        <div class="col-lg-12 col-12">
            <div class="custom-block bg-white">
<div class="searching">
           <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0" action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search Client" aria-label="Search">
        </form>
       
        <div class="filtres">
            <div class="dropdown">
                <button id="filtrebtn" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'filter-applied': isFilterApplied, 'filter-not-applied': !isFilterApplied}">
                    <i class="bi bi-funnel" ></i>  Filtre
                </button>
                <ul class="dropdown-menu">
                    <li><p>Bills in range</p></li>
                  <li><a id="t"class="dropdown-item" (click)="see(7)">Week</a></li>
                  <li><a id="t" class="dropdown-item" (click)="see(30)">Month</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><p>filtre by less Cost</p></li>
                  <li><a id="t" class="dropdown-item" (click)="btnfiltrage()" >order</a></li>
                  
                </ul>
              </div>
            <button type="button" class="btn btn-outline-primary" disabled><i class="bi bi-file-pdf"></i> Export </button>
</div>

</div>

                <div class="table-responsive">
                    <table class="account-table table">
                        <thead>
                            <tr>
                                <th scope="col">Client Name</th>

                                <th scope="col">Email</th>

                                <th scope="col">Phone</th>

                                <th scope="col">Company Adress</th>

                                <th scope="col">Amount Left to pay</th>

                                <th scope="col">Actions</th>
                                <th scope="col">Contracts</th>
                                

                            </tr>
                        </thead>

                        <tbody *ngFor="let client of clients">
                            <tr>
                        
                                <td scope="row" > {{ client.nom }} {{ client.prenom }}</td>

                                <td scope="row">{{ client.email }}</td>

                                <td scope="row">{{ client.phone }}</td>

                                <td scope="row">{{ client.companyAddress }}</td>

                                <td  scope="row">{{ client.amount }} DT</td>

                                <td scope="row" class="actions">
                                    <button (click)="navigateToeditclient(client.idClient)"><i id="edit" class="bi bi-pencil-fill"></i></button>
                                   <button (click)="removeClient(client.idClient)"> <i id="delete" class="bi bi-trash-fill"></i></button>
                                 
                                </td>

                                <td scope="row" class="actions">
                                    
                                   <button (click)="navigateToContracts(client.idClient)"><i id="contrat" class="bi bi-folder2-open"></i></button>
                                 
                                </td>
                                
                            </tr>
                            
                           

                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>

       


    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-12">
                    <p class="copyright-text">Copyright © Mini Finance 2048 
                    - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
                </div>

            </div>
        </div>
    </footer>
</main>