
<body>
    

                




<div class="container-fluid">
    
<div class="row">
    

<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-10 px-md-4 border-start">
    <button type="button" class="btn btn-primary" (click)="openform()">Add a Bill</button>

<div class="row my-4">
   
<div class="col-lg-7 col-12"  *ngFor="let facture of Factures">

<div class="custom-block custom-block-profile bg-white" style="width:500px;">
    <p class="d-flex flex-wrap mb-2">
        <strong id="number">{{facture.invoice_number}}</strong>

    
    </p>
    <p class="d-flex flex-wrap mb-2">
        <strong>Designation</strong>

        <span>{{facture.designation}}</span>
    </p>

   

    <p class="d-flex flex-wrap mb-2">
        <strong>Created:</strong>

        <span>{{ facture.facture_date | date:'yyyy-MM-dd HH:mm:ss' }}</span>

    </p>

    <p class="d-flex flex-wrap mb-2">
        <strong>Due Date:</strong>

        <span>{{facture.due_date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    </p>
    <p class="d-flex flex-wrap mb-2">
        <strong>Totale Amount:</strong>

        <span>{{facture.total_amount}}</span>
    </p>
    <p class="d-flex flex-wrap mb-2">
        <strong>Paied Amount:</strong>

        <span>{{facture.paid_amount}}</span>
    </p>
    <p class="d-flex flex-wrap mb-2">
        <strong>Payment Status:</strong>

        <span>{{facture.payment_status}}</span>
    </p>
    <p class="d-flex flex-wrap mb-2">
        <strong>Notes:</strong>

        <span>{{facture.notes}}</span>
    </p>
    <p class="d-flex flex-wrap mb-2">
        <strong>Milestone Description:</strong>

        <span>{{facture.milestone_description}}</span>
    </p>
    <button type="button" class="btn btn-outline-danger" (click)="removefacture(facture.idFacture)" >Delete</button>
    <button type="button" class="btn btn-outline-danger" (click)="navtoaddpaiment(facture.idFacture)" >paiment</button>
</div>

</div>
</div>
<div class="row my-4">
    <div class="col-lg-7 col-12"  *ngIf="isFormOpen" style="width:600px">
        <div class="custom-block bg-white">
            <h4 >Fill in Bill details</h4>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0" >
                    <form #factureFormElement class="custom-form profile-form"  role="form" [formGroup]="factureForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="contractDate">Designation <span class="required">*</span></label>
                        <input class="form-control" type="text" name="profile-name" id="profile-name" placeholder="designation" formControlName="designation" required>
                       </div>
                       <div class="col-md-6">
                        <label for="contractDate">Invoice Number <span class="required">*</span></label>
                        <input class="form-control" type="text" name="profile-name" id="profile-name" placeholder="invoiceNumber" formControlName="invoice_number" required>
                       </div>
                       </div>
                       <div class="row">
                        <div class="col-md-6">
                            <label for="contractDate">Due Date <span class="required">*</span></label>
                            <input class="form-control" type="datetime-local"  name="profile-name" id="profile-name" placeholder="dueDate" formControlName="due_date" required>
                        </div>
                        <div class="col-md-6">
                            <label for="contractDate">Bill Date <span class="required">*</span></label>
                        <input class="form-control" type="datetime-local"  name="profile-name" id="profile-name" placeholder="factureDate" formControlName="facture_date" required>
                       </div></div>

                       <div class="row">
                        <div class="col-md-6">
                            <label for="contractDate">Milestone <span class="required">*</span></label>
                    <input class="form-control" type="text" name="profile-name" id="profile-name" placeholder="milestoneDescription" formControlName="milestone_description" required>
                    </div>
                    <div class="col-md-6">
                        <label for="contractDate">Notes<span class="required">*</span></label>
                    <input class="form-control" type="text" name="profile-name" id="profile-name" placeholder="notes" formControlName="notes" required>
                    </div></div>
                       <div class="row">
                        
                            
                            <div class="col-md-6">
                          
                        <div id="total" class="d-flex flex-wrap mb-2">
                            <span>Contract Total Amount :</span>
                        </div>
                        <div class="d-flex flex-wrap mb-2">
                            <span class="prix">{{totalprix}} Dt</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="contractDate">Payment Status <span class="required">*</span></label>
                <select id="typeContrat" formControlName="payment_status" required class="form-select" >
                    <option value="Select Payment Status" disabled selected>Select Payment Status</option>
                    <option value="SERVICE_CONTRACT">Outstanding</option>
                    <option value="PRODUCT_PURCHASE_CONTRACT">Partially paid</option>
                    <option value="SUBSCRIPTION_CONTRACT">Paid</option>
                  </select>
                
                  </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="contractDate">Amount to pay <span class="required">*</span></label>
                                <input class="form-control" type="number" name="profile-name" id="profile-name" placeholder="Amount to pay" formControlName="paid_amount" required>
                                
                                  
                            </div>
                            </div>
                            </div>
                          

                          <div class="subbtn">
                           

                            <button type="submit" [disabled]="factureForm.invalid" class="form-control ms-2">
                                Add Facture
                            </button>
                            
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>


</div>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 col-12">
                <p class="copyright-text">Copyright © Mini Finance 2048 
                - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
            </div>

        </div>
    </div>
</footer>
</main>
</div>
</div>
</body>