<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
      <h1 class="h2 mb-0">Liste des candidats</h1>
    </div>
    <div class="row my-4" *ngFor="let candidat of candidats">
      <div class="col-lg-12 col-12">
        <div class="custom-block custom-block-transation-detail bg-white">
          <div class="d-flex flex-wrap align-items-center border-bottom pb-3 mb-3">
            <div class="d-flex align-items-center">
              <div>
                <p>{{ candidat.nom }} {{ candidat.prenom }}</p>
              </div>
            </div>
            <div class="ms-auto">
              <strong class="d-block text-success"><span class="me-1">+</span> {{ candidat.email }}</strong>
            </div>
          </div>
          <div class="d-flex flex-wrap align-items-center">
            <div class="custom-block-transation-detail-item mt-4">
              <h6>Téléphone</h6>
              <p>{{ candidat.telephone }}</p>
            </div>
            <div class="custom-block-transation-detail-item mt-4 mx-auto px-4">
              <h6>Adresse</h6>
              <p>{{ candidat.adresse }}</p>
            </div>
            <div class="custom-block-transation-detail-item mt-4 ms-lg-auto px-lg-3 px-md-3">
              <h6>Nationalité</h6>
              <p>{{ candidat.nationalite }}</p>
            </div>
            <div class="custom-block-transation-detail-item mt-4 ms-auto me-auto">
              <h6>Genre</h6>
              <p>{{ candidat.genre }}</p>
            </div>
            <div class="ms-auto me-4">
              <button class="btn btn-danger" (click)="removeCandidat(candidat.idCandidat)">Refuser</button> </div>
              <button class="btn btn-primary" (click)="openPopup(candidat)" data-bs-toggle="modal" data-bs-target="#exampleModal">Show All</button>
            </div>
          </div>
          </div>
        </div>
     
  </main>
  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Détails du Candidat</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
      
      
          <h4><p>
          {{ selectedCandidat?.nom }} {{ selectedCandidat?.prenom }}</p></h4>
          <h6> <p> Email :  {{ selectedCandidat?.email }}</p></h6>
          <h6> <p>Téléphone   {{ selectedCandidat?.telephone }}</p></h6>
          <h6>  <p>Adresse: {{ selectedCandidat?.adresse }}</p> </h6>
          <h6> <p>Nationalité  {{ selectedCandidat?.nationalite }}</p> </h6>
          <h6> <p>Genre {{ selectedCandidat?.genre }}</p> </h6>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  